/* bg image */

body{
 background-color:  #111111;
}
/* custom css */
.container {
    margin-top: 80px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;

}

.container h1 {
    font-size: 100px;
    margin-top: 80px;
    color: #ee6055;
    font-family: 'Yeseva One', serif;
    text-shadow: 10px 10px 15px #000000;
    animation-timing-function: ease-in;
}

li .nav-item {
    padding-right: 20px;
}

header
{
    color: #111111;
}
#contactBar {
    margin-top: 200px;
    padding-right: 70px;
    margin-bottom:200px;
}

.naviBar li {
    font-family: 'Josefin Sans', sans-serif;
    color: #b100e8;
    padding-top: 10px;
}
.footer li {
    padding-left: 20px;

}

p {
    color: #ee6055;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding-left: 10px;
   
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ee6055;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

/* animation */
 @media only screen and (max-width: 600px)
 {
    
    .container h1 {
        font-size: 30px;
        line-height: 50px;
        padding-left: 0px;
        justify-content: none;
        align-items: center;
    }
    p {
        font-size: 10px;
    }

    .footer {
        display: none;
    }
    li .nav-item{
        padding-right: 5px;

    }

 }

   

